{% load static %}

    <footer class="tm-bg-gray pt-5 pb-3 tm-text-gray tm-footer">
        <div class="container-fluid tm-container-small">
            <div class="row">
                <div class="col-lg-6 col-md-12 col-12 px-5 mb-5">
                    <h3 class="tm-text-primary mb-4 tm-footer-title">Tentang Kami</h3>
                    <p>Kami hadir untuk membantu Anda mengekspresikan perasaan melalui buket indah dengan berbagai variasi. Mulai dari buket bunga segar, buket snack, buket uang, hingga buket custom sesuai permintaan, semua bisa kami wujudkan dengan penuh ketulusan.</p>
                    <p>Kami percaya bahwa setiap momen istimewa layak dirayakan dengan cara yang istimewa. Karena itu, setiap buket yang kami buat tidak hanya sekadar rangkaian, tetapi juga memiliki makna, cerita, dan sentuhan personal sesuai keinginan Anda.</p>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6 col-12 px-5 mb-5">
                    <h3 class="tm-text-primary mb-4 tm-footer-title">Navigasi</h3>
                    <ul class="tm-footer-links pl-0">
                        <li><a href="{% url 'customer:index' %}">product</a></li>
                        <li><a href="{% url 'customer:about' %}">Tentang Kami</a></li>
                        <li><a href="{% url 'customer:contact' %}">Contact</a></li>
                    </ul>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6 col-12 px-5 mb-5">
                    <h3 class="tm-text-primary mb-4 tm-footer-title">Sosial Media</h3>
                    <ul class="tm-social-links d-flex justify-content-end pl-0 mb-5">
                        <li class="mb-2"><a href="https://www.tiktok.com/@takadoin.aja?_t=ZS-8z0EU54uX0a&_r=1"><i class="fab fa-tiktok"></i></a></li>
                        <li class="mb-2"><a href="https://api.whatsapp.com/send/?phone=%2B6285850463006&text&type=phone_number&app_absent=0"><i class="fab fa-whatsapp"></i></a></li>
                        <li class="mb-2"><a href="https://www.instagram.com/takadoin.aja?igsh=MWpsb2ExMTR2aGR5Nw=="><i class="fab fa-instagram"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>