{% load static %}
<script src="{% static "product/admin/libs/jquery/jquery.min.js" %} "></script>
<script src="{% static "product/admin/libs/bootstrap/js/bootstrap.bundle.min.js" %} "></script>
<script src="{% static "product/admin/libs/metismenu/metisMenu.min.js" %} "></script>
<script src="{% static "product/admin/libs/simplebar/simplebar.min.js" %} "></script>
<script src="{% static "product/admin/libs/node-waves/waves.min.js" %} "></script>

<!-- apexcharts -->
<script src="{% static "product/admin/libs/apexcharts/apexcharts.min.js" %} "></script>

<!-- Saas dashboard init -->
<script src="{% static "product/admin/js/pages/saas-dashboard.init.js" %}"></script>

<script src="{% static "product/admin/js/app.js" %}"></script>

