{% extends "admin/admin_base.html" %}

{% block title %}
{{ title }}
{% endblock title %}

{% block content %}
<div class="main-content">

                <div class="page-content">
                    <div class="container-fluid">

                        <!-- start page title -->
                        <div class="row">
                            <div class="col-12">
                                <div class="page-title-box d-sm-flex align-items-center justify-content-between">
                                    <h4 class="mb-sm-0 font-size-18">Add Product</h4>

                                    <div class="page-title-right">
                                        <ol class="breadcrumb m-0">
                                            <li class="breadcrumb-item"><a href="javascript: void(0);">Ecommerce</a></li>
                                            <li class="breadcrumb-item active">Add Product</li>
                                        </ol>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <!-- end page title -->

                        <div class="row">
                            <div class="col-12">
                                <div class="card">
                                    <div class="card-body">
                                        <h4 class="card-title">Tambah Product</h4>
                                        <form method="post" enctype="multipart/form-data">
                                            {% csrf_token %}
                                            <div class="row">
                                                <div class="col-sm-6">
                                                    <div class="mb-3">
                                                        <label for="productname">Nama Produk</label>
                                                        <input id="productname" name="nama" type="text" class="form-control" placeholder="Product Name">
                                                    </div>
                                                    <div class="mb-3">
                                                        <label for="productname">Harga Normal</label>
                                                        <input id="productname" name="harga_normal" step="0.01" type="number" class="form-control" placeholder="Product harga">
                                                    </div>
                                                    <div class="mb-3">
                                                        <label for="productname">Harga Promo </label>
                                                        <input id="productname" name="harga_promo" step="0.01" type="number" class="form-control" placeholder="Boleh Kosong">
                                                    </div>
                                                    <div class="mb-3">
                                                        <label for="productdesc">Value selling</label>
                                                        <textarea class="form-control" name="value_selling" id="productdesc" rows="5" placeholder="Product vallue selling"></textarea>
                                                    </div>
                                                </div>
        
                                                <div class="col-sm-6">
                                                    <div class="mb-3">
                                                        <label class="control-label">Category</label>
                                                        <select class="form-control select2" name="kategori">
                                                            <option>Select</option>
                                                            {% for kat in kategori_list %}
                                                            <option value="{{ kat.id }}">{{ kat.nama }}</option>
                                                            {% endfor %}
                                                        </select>
                                                    </div>
                                                    <div class="mb-3">
                                                        <label for="productdesc">Product Deskripsi</label>
                                                        <textarea class="form-control" name="deskripsi" id="productdesc" rows="5" placeholder="Product Description"></textarea>
                                                    </div>
                                                    <div class="mb-3">
                                                        <label for="productdesc">Value isi buket</label>
                                                        <textarea class="form-control" name="value_isi_buket" id="productdesc" rows="5" placeholder="Product Description"></textarea>
                                                    </div>
                                                    <div class="card">
                                                         <div class="card-body">
                                                            <h4 class="card-title mb-3">Tambah Gambar Produck</h4>
                                                            <div class="fallback">
                                                                <input name="gambar" type="file" multiple />
                                                            </div>
                                      
                                                        </div>

                                                    </div>
                                                    
                                                </div>
                                            </div>
                                            
        
                                            <div class="d-flex flex-wrap gap-2">
                                                <button type="submit" class="btn btn-primary waves-effect waves-light">Save Changes</button>
                                                <button type="button" class="btn btn-secondary waves-effect waves-light">Cancel</button>
                                            </div>
                                        </form>
        
                                    </div>
                                </div>

                                
                                </div> <!-- end card-->
                            </div>
                        </div>
                        <!-- end row -->

                    </div> <!-- container-fluid -->
                </div>
                <!-- End Page-content -->

            </div>
{% endblock content %}